input {
  border-radius: 5px;
  width: 130px;
  height: 45px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}